.searchbox {
  width: 100px;
  float: right;
  position: relative;
}
.card,
.carddetails {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.carddetails {
  max-width: 0.5rem;
  margin-left: 10px;
}
.location,
.number {
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
  text-decoration: underline;
}
.location1,
.number1 {
  margin-left: 20px;
}
